{% extends 'base.html' %}
{% load static %}

{% block title  %}
    About
{% endblock %}

{% block content %}

<main>
    <section>
        <h2>Tienda de Salamanca, Guanajuato</h2>
        <p>Welcome to your non-stop shop of best-quality goods directly from the heart of Salamanca, Guanajuato.</p>
        <p>Here, you will find all kinds of produce, with the focus being set on top quality and a taste like only your home can provide.</p>
    </section>

    <section>
        <h2>Ciudad Salamanca, Guanajuato</h2>
        <p>Salamanca (Otomi: Xidoo "Place of Tepetate") is a city in the Mexican state of Guanajuato.</p>
        <p>Salamanca's cuisine is very diverse because, thanks to the oil refinery, it is a city that has people from all over the country, from cities such as Veracruz, Oaxaca and Mexico City. Each of these cities has its own variety of food, so one can find enchiladas, wheat gorditas, pambazo, hamburgers, its famous carnitas (pulled pork), arrachera, cabrito (goat), birria, barbecue, cecina, and pizza. There are food stands on virtually every street corner. Many types of locally made ice pops & ice cream are also popular in the city.</p>
    </section>
</main>

{% endblock %}
